@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,300;0,500;1,300&family=Roboto:wght@300;400;700&display=swap');

:root {
    /* --primary-color: #2ab184; */
    --primary-color: #0582ca;
}

html {
    height: 100%;
}

body {
    font-family: 'roboto',sans-serif;
    font-weight: normal;
    /* background: url("background-image.svg"); */
    background: url("https://images.pexels.com/photos/27425624/pexels-photo-27425624/free-photo-of-a-pile-of-coins-is-shown-in-this-photo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-color: #0582ca;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    margin: 0;
    align-items: center;
}


/* main containers div */


.container-app {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 20px auto;
    padding: 1rem 2.3rem;
    height: calc(100vh - 100px);
    background: rgba(48, 58, 65, 0.5);
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

/* ------------------------------------ */

/* bill and cash given containers */

label {
    color: wheat;;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    background: rgba(0,0,0, 0.75);
   }

#btn-bill-amount {
    display: block;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
    width: 8vw;
    height: 2rem;
    background-color: #22c3bc;
    border: 0.15rem solid;
    border-color: #1a504d;
    border-radius: 0.5rem;
}

#btn-cash-amount {
    display: block;
    margin: auto;
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    width: 8vw;
    background-color: #22c3bc;
    border-radius: 0.5rem;
    border: 0.15rem solid;
    border-color: #1a504d;
}

.bill-amount-container {
    margin: 0.5rem auto;
}

input {
    font-size: 1rem;
    background: rgba(0,0,0, 0.75);
    color: white;
    padding: 0.25rem;
    text-align: center;
    border: 0;
    outline: 0;
    border-top: 2px solid gray;
}

input:focus {
    outline: none;
}

.cash-given-container {
    margin: 0.5rem auto;
}

/* .cash-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

/* ------------------------------ */


/* Header section -------- */
.header {
    color: white;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
}

.header p {
    font-size: 1.2rem;
}

.header h1 {
    text-align: center;
    margin: auto;
    font-size: 2rem;
    font-family: "glory",sans-serif;
}

.center-container {
    margin: 0 auto;
}
/* ----------------------- */

#error-message {
    color: #FAC05E;
    background: rgba(0, 0, 0, 0.75);
    font-size: 1.25rem;
    font-style: normal;
    text-align: center;
    width: 25vw;
    height: max-content;
    margin: 0.5rem auto;
}


/* Return change to customer section */
.cash-return-container {
    margin: 1rem auto;
    color: white;
}
#return-amount-caption {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem auto;
    margin-top: 0;
    background: rgba(0,0,0, 0.75);
}
table {
    size: 10rem;
    width: 32vw;
    height: 6rem;
    background: wheat;
    text-align: center;
}
th {
    background: rgb(107, 107, 255);
    
}
td {
    background: coral;
}

footer {
    text-align: center;
    display: block;
    margin: 0px auto;
    color:white;
    /* background-color:  var(--primary-color); */
    font-family: "glory", sans-serif;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 49.70vw;
    /* box-sizing: border-box; */
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    backdrop-filter: blur(10px);
}

footer ul {
    padding-inline-start: 0rem;
}

footer h2 {
    color: black;
}

footer img {
    width: 2rem;
    height: 2rem;
    margin: auto 2rem;
}

/* ------------------------------------ */

@media screen and (max-width: 975px) {
    html, body {
        background-size: 150vh;
        background-position-x: 50%;
        background-position-y: 50%;
    }

    .container-app {
        /* min-width: fit-content; */
        /* height: 72vh; */
        min-width: 90vw;
        height: calc(100vh - 100px);
        padding-left: 2px;
        padding-right: 2px;
        width: min-content;
    }

    .header p {
        font-size: 1rem;
    }

    #btn-bill-amount, #btn-cash-amount {
        font-size: 1.3rem;
        width: 35vw;
        margin: 0.4rem auto;
    }

    .cash-return-container {
        margin: 0.5rem;
    }
    table {
        width: 90vw;
    }
    #error-message {
        width: 75vw;
    }

    footer {
        width: 100vw;
        background-color: none;
        position: relative;
    }

    footer img {
        margin: 0.2rem 1rem; 
    }
}