
:root {
    --primary-color: #7fd8be;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0px auto;
}

.center-container {
    margin: 0 auto;
}

.header {
    color: white;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    background-color: var(--primary-color);
}

.error {
    color: red;
    font-size: 1rem;
    font-style: italic;
}

.bill-amount-container {
    margin: 2rem;
}

.cash-given-container {
    margin: 2rem;
}

table {
    border-color: black;
    border-width: 0.1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #90BEDE;
    padding: 2rem 1rem;
    color: black;
    text-align: center;
    border-top-right-radius: 1rem;
    margin-top: auto;
}